<div class="jumbotron">
    <h1 class="display-4">Welcome {{userName}}!</h1>
    <p class="lead">QEx is a simple webApp to present exams.</p>
    <hr class="my-4">
    <p>With QEx you can get guidance on your level in an area of knowledge. Its free, you only need an email!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="card-deck">
    <div class="card border border-dark">
        <div class="card-body">
            <h5 class="card-title">Essential Theory & Fundamentals Of JavaScript</h5>
            <p class="card-text">Test you base of JavaScript with this exam of fundamental knowledge of Javascript</p>
            <a class="card-link" ui-sref="home">Apply</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Language: EN</small>
        </div>
    </div>

    <div class="card border border-dark">
        <div class="card-body">
            <h5 class="card-title">Personal Strengths</h5>
            <p class="card-text">This test is based on positive psychology and aims to highlight the strengths of a person. 
                This type of exams is very common in job interviews.
            </p>
            <a class="card-link" ui-sref="personalStrengths">Apply</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Language: ES</small>
        </div>
    </div>
</div>
