<form id="sign-in" class="form-signin text-center" name="loginForm">
	<samp>Log into QEx WebApp</samp><hr/>
	<input type="email" id="user" name="username" class="form-control" ng-model="login.username" placeholder="email" ng-minlength="3" required autofocus>
	<input type="password" id="pass" name="password" class="form-control" ng-model="login.password" placeholder="password" ng-minlength="4" required>
	<button type="submit" class="btn btn-block btn-ligth" ng-click="login.signIn();">{{loginBtnText}}</button>


	<div style="margin-top:3px;">
		<p ng-show="submitted && loginForm.username.$error.required" class="alert-danger">You name or email is required.</p>
		<p ng-show="submitted && loginForm.username.$error.minlength" class="alert-danger">You name or email is too short (6 charts min).</p>
		<p ng-if="error.code !== null;">{{error.message}}</p>
	</div>

	<div>
			<button type="button" class="btn btn-link" ng-show="isReg" ng-click="login.backToMain()">Back</button>
			<button type="button" class="btn btn-link" ng-show="!isReg" ng-click="login.setCreateAccount()">Create an Account</button>
			<button type="button" class="btn btn-link" ng-show="!isReg" ng-click="login.signInWithGoogleAuth()" >Login with Google</button>
	</div>

	<p class="mt-5 mb-3 text-muted">Qex WebApp&reg; 2017-2018 <span><a href="http://www.iamQuethzel.com" target="_blank" class="text-muted">By H.Quethzel</a></span></p>
</form>